.Quiz{
  border: 7px solid white ;
  border-radius: 20px;
  background: rgba(238, 231, 228, 0.9);
  text-align: center;

}
body{
    margin: 10em;
    background-image: url("images/Diseño\ sin\ título.png");
}

h1{
    color: black;
    text-align: center;
}

h2{
    color: black;
    text-align: center;
}



/*#Bienvenido{
  text-align: center;
}
#Hello{
  text-align: center;
}
#Vent_resultado{
  text-align: center;
}
#Marvel_P1{
  text-align: center;
}*/